VITE_APP_VERSION=0.0.0
VITE_ASSET_PATH="http://localhost:5173/assets"
VITE_UNITY_URL=http://localhost:3000/api
VITE_UNITY_KEY=AUTH_KEY
VITE_PHASEII_BASE_URL="http://localhost:5173"
VITE_PHASEII_OAUTH_URL=""
VITE_DISCORD_URL="https://discord.gg/mNmjpX33cd"
VITE_DOCS_URL="https://docs.phaseii.network"